<template>
    <div class="SignUp">
      <img alt="Vue logo" class="logo" src="../../assets/logo.png">
      <h1>Sign Up</h1>

      <div class="auth">

        <span v-if="errorMessage">{{ errorMessage}}</span>
        <span v-if="successMessage">{{ successMessage}}</span>
        <input type="text" placeholder="Enter First Name" v-model="firstName">
        <input type="text" placeholder="Enter Last Name" v-model="lastName">
        <input type="text" placeholder="Enter Phone Number" v-model="phoneNumber">
        <input type="text" placeholder="Enter Email" v-model="email">
        <input type="password" placeholder="Enter Password" v-model="password">
        <button @click="signUp">Sign Up</button>

        <p>
          <router-link to="/login">Already have an account? Login</router-link>
        </p>

      </div>

    </div>
</template>

<script>

import axios from 'axios';

    export default {
        name: 'SignUp',
        data(){
          return {
            firstName:'',
            lastName:'',
            phoneNumber:'',
            email:'',
            password:'',
            errorMessage:'',
            successMessage:'',
          }
        },
      methods:{
          async signUp(){
            let result = await axios.post("http://localhost:8080/api/v1/users/register",{
              firstName:this.firstName,
              lastName:this.lastName,
              phoneNumber:this.phoneNumber,
              email:this.email,
              password:this.password
            });

            if (result.data.statusCode === 500){
              this.errorMessage = result.data.statusMessage;
            } else {
              // sign up successful, login user and redirect them to the next page
              let loginResult = await axios.post("http://localhost:8080/api/v1/login",{
                email:this.email,
                password:this.password
              });

              if (loginResult.data.statusCode === 200){
                // login successful
                let userObject = {};
                userObject.firstName = result.data.data.firstName;
                userObject.lastName = result.data.data.lastName;
                userObject.email = result.data.data.email;
                userObject.phoneNumber = result.data.data.phoneNumber;
                userObject.token = loginResult.data.data.token;
                userObject.type = loginResult.data.data.type;

                localStorage.setItem("lendTechUserDetails", JSON.stringify(userObject ));

                // this.successMessage = loginResult.data.statusMessage;
                alert(loginResult.data.statusMessage)
                await this.$router.push({name: 'HomePage'})

              } else {
                // login failed
                this.errorMessage = result.data.statusMessage;

              }
            }


          }
      },
      mounted() {
          let userDetails = localStorage.getItem("lendTechUserDetails");
          if (userDetails){
            this.$router.push({name: 'HomePage'})
          }
      }
    };
</script>
