<template>
    <div>
      <main-header></main-header>
      <h1>Hello {{ firstName }}, welcome on home Page</h1>
      <p>Balance: {{ balance }} {{ currency}}</p>

      <h2>Recent Transactions</h2>
      <div>
        <table style="width: 100%; flex: auto; text-align: left; padding-left: 20px; margin: auto">
          <tbody>
          <tr v-for="transaction in transactions" :key="transaction.id">
            <td>From: {{ transaction.loan.lender }} <br> Mobile: {{ transaction.user.phoneNumber }} </td>
            <td> <span v-if="transaction.transactionDirection =='Cr' ">+</span> <span v-else>-</span> {{ transaction.loan.amount + transaction.loan.currency}} </td>
            <td>{{ formatDate(transaction.createdAt) }}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
</template>

<script>
    import MainHeader from "@/components/MainHeader/MainHeader"
    import axios from "axios";
    import moment from 'moment';
    export default {
      name: 'HomePage',
      components: {
        MainHeader,
      },
      data() {
          return {
            firstName: '',
            lastName: '',
            currency: '',
            balance: '',
            phoneNumber:'',
            transactions: [],

          }
      },
      methods: {
        formatDate(value) {
              return moment(String(value)).format('YYYY-MM-DD')
        }
      },
      async mounted() {
        let userDetails = localStorage.getItem("lendTechUserDetails");
        if (!userDetails) {
          this.$router.push({name: 'LoginPage'})
        }

        this.firstName = JSON.parse(userDetails).firstName
        this.lastName = JSON.parse(userDetails).lastName
        this.currency = JSON.parse(userDetails).currency
        this.balance = JSON.parse(userDetails).balance
        this.phoneNumber = JSON.parse(userDetails).phoneNumber

        // get transactions
        let latestTransactions = await axios.get("http://localhost:8080/api/v1/transactions", {
          headers: {
            'Authorization': `Bearer ${JSON.parse(userDetails).token}`
          }
        });

        if (latestTransactions.data.statusCode === 200){
          this.transactions = latestTransactions.data.data
        }

      }
    };
</script>
