<template>
    <div>
      <main-header></main-header>

      <h2>Payments Transactions</h2>
      <form action="">
        <div class="filter" style="margin-left: 30px; width: 80%; display: flex; direction: ltr; justify-content: flex-start">
          <div>
            <label for="startDate">From</label>
            <input type="text" id="startDate" placeholder="2022-06-20">
          </div>

          <div>
            <label for="endDate">To</label>
            <input type="text" id="endDate" placeholder="2022-06-30">
          </div>

          <button type="submit">Filter</button>

        </div>
      </form>
      <div>
        <table style="width: 100%; flex: auto; text-align: left; padding-left: 20px; margin: auto">
          <tbody>
          <tr v-for="transaction in transactions" :key="transaction.id">
            <td>From: {{ transaction.loan.lender }} <br> Mobile: {{ transaction.user.phoneNumber }} </td>
            <td> <span v-if="transaction.transactionDirection =='Cr' ">+</span> <span v-else>-</span> {{ transaction.loan.amount + transaction.loan.currency}} </td>
            <td>{{ formatDate(transaction.createdAt) }}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
</template>

<script>
    import MainHeader from "@/components/MainHeader/MainHeader"
    import axios from "axios";
    import moment from 'moment';
    export default {
      name: 'PaymentsPage',
      components: {
        MainHeader,
      },
      data() {
          return {
            transactions: [],

          }
      },
      methods: {
        formatDate(value) {
              return moment(String(value)).format('YYYY-MM-DD')
        }
      },
      async mounted() {
        let userDetails = localStorage.getItem("lendTechUserDetails");
        if (!userDetails) {
          this.$router.push({name: 'LoginPage'})
        }

        // get transactions
        let latestTransactions = await axios.get("http://localhost:8080/api/v1/transactions", {
          headers: {
            'Authorization': `Bearer ${JSON.parse(userDetails).token}`
          }
        });

        if (latestTransactions.data.statusCode === 200){
          this.transactions = latestTransactions.data.data
        }

      }
    };
</script>
