<template>
  <div class="Login">
    <img alt="Vue logo" class="logo" src="../../assets/logo.png">
    <h1>Login</h1>

    <div class="auth">

      <span v-if="errorMessage">{{ errorMessage}}</span>
      <span v-if="successMessage">{{ successMessage}}</span>
      <input type="text" placeholder="Enter Email" v-model="email">
      <input type="password" placeholder="Enter Password" v-model="password">
      <button @click="login">Login</button>
      <p>
        <router-link to="/sign-up">Don't have an account? Register</router-link>
      </p>

    </div>

  </div>
</template>

<script>

import axios from 'axios';

export default {
  name: 'LoginPage',
  data(){
    return {
      email:'',
      password:'',
      errorMessage:'',
      successMessage:'',
    }
  },
  methods:{
    async login(){
      let result = await axios.post("http://localhost:8080/api/v1/login",{
        email:this.email,
        password:this.password
      });

      if (result.data.statusCode === 500){
        this.errorMessage = result.data.statusMessage;
      } else if(result.data.statusCode === 401) {
        this.errorMessage = result.data.statusMessage;
      } else {
        // login successful, get user data and redirect to home page

        let userResult = await axios.get("http://localhost:8080/api/v1/wallet",{
          headers: {
            'Authorization': `Bearer ${result.data.data.token}`
          }});

        if (userResult.data.statusCode === 200){
          // login successful
          let userObject = {};
          userObject.firstName = userResult.data.data.user.firstName;
          userObject.lastName = userResult.data.data.user.lastName;
          userObject.email = userResult.data.data.user.email;
          userObject.phoneNumber = userResult.data.data.user.phoneNumber;
          userObject.currency = userResult.data.data.currency;
          userObject.balance = userResult.data.data.balance;
          userObject.token = result.data.data.token;
          userObject.type = result.data.data.type;

          localStorage.setItem("lendTechUserDetails", JSON.stringify(userObject ));

          alert(result.data.statusMessage)
          await this.$router.push({name: 'HomePage'})

        } else {
          // login failed
          this.errorMessage = result.data.statusMessage;

        }
      }
    }
  },
  mounted() {
    let userDetails = localStorage.getItem("lendTechUserDetails");
    if (userDetails){
      this.$router.push({name: 'HomePage'})
    }
  }
};
</script>
