<template>
    <div class="nav">
      <router-link to="/">Home</router-link>
      <router-link to="/payments">Payments</router-link>
      <router-link to="/loans">Loans</router-link>
      <router-link to="/loans/record">Record Loan</router-link>
      <router-link to="/">Pay Loan</router-link>
      <a href="#" @click="logout">Log Out</a>
    </div>
</template>

<style>
body {
  padding: 0;
  margin: 0;
}
.nav {
  background-color: #2c3e50;
  overflow: hidden;
}

.nav a {
  color: white;
  float: left;
  padding: 15px 15px;
  font-size: 17px;
  text-decoration: none;
}

.nav a:hover {
  background-color: lightblue;
}
</style>

<script>
    export default {
      name: 'MainHeader',
      methods: {
          logout(){
            localStorage.clear()
            this.$router.push({name: 'LoginPage'})

        }
      }
    };
</script>
