<template>
    <div>
      <main-header></main-header>

      <h2> Record Loan</h2>
      <div class="auth">

        <form @submit.prevent="recordLoan()">
          <span v-if="errorMessage">{{ errorMessage}}</span>
          <span v-if="successMessage">{{ successMessage}}</span>
          <input type="number" placeholder="Enter Amount" v-model="amount" required>
          <input type="text" placeholder="Enter Lender" v-model="lender" required>
          <input type="text" placeholder="Enter Currency e.g. KES" v-model="currency" required>
          <select v-model="disbursementStatus">
            <option value="pending">pending</option>
            <option value="disbursed" selected>disbursed</option>
          </select>
          <button >Submit</button>
        </form>

      </div>

    </div>
</template>

<script>
    import MainHeader from "@/components/MainHeader/MainHeader"
    import axios from "axios";
    export default {
      name: 'RecordLoanPage',
      components: {
        MainHeader,
      },
      data() {
          return {
            amount:'',
            lender:'',
            currency:'',
            disbursementStatus:'disbursed',
            repaymentStatus:'pending',
            errorMessage:"",
            successMessage:"",
            token:""
          }
      },
      methods: {
        async recordLoan(){
          let result = await axios.post("http://localhost:8080/api/v1/loans",{
            amount:this.amount,
            lender:this.lender,
            currency:this.currency,
            disbursementStatus:this.disbursementStatus,
            repaymentStatus:this.repaymentStatus
          },{
            headers: {
              'Authorization': `Bearer ${this.token}`
            }
          });

          if (result.data.statusCode === 500){
            this.errorMessage = result.data.statusMessage;
          } else {
            // success
            this.successMessage = result.data.statusMessage;
            this.amount = ''
            this.lender = ''
            this.currency = ''
          }


        }

      },
      async mounted() {
        let userDetails = localStorage.getItem("lendTechUserDetails");
        if (!userDetails) {
          this.$router.push({name: 'LoginPage'})
        }

        this.token = JSON.parse(userDetails).token

      }
    };
</script>
