<template>
    <div>
      <main-header></main-header>

      <h2>Loans Transactions</h2>
      <form @submit.prevent="filterByDate()">
        <div class="filter" style="margin-left: 30px; width: 80%; display: flex; direction: ltr; justify-content: flex-start">
          <div>
            <label for="startDate">From</label>
            <input type="text" id="startDate" placeholder="2022-06-20" v-model="startDate" required>
          </div>

          <div>
            <label for="endDate">To</label>
            <input type="text" id="endDate" placeholder="2022-06-30" v-model="endDate" required>
          </div>

          <button type="submit">Filter</button>

        </div>
      </form>
      <div>
        <table style="width: 100%; flex: auto; text-align: left; padding-left: 20px; margin: auto">
          <tbody>
          <tr v-for="transaction in transactions" :key="transaction.id">
            <td>From: {{ transaction.lender }} <br> Mobile: {{ transaction.user.phoneNumber }} </td>
            <td> <span v-if="transaction.transactionDirection =='Cr' ">+</span> <span v-else>-</span> {{ transaction.amount + transaction.currency}} </td>
            <td>{{ formatDate(transaction.createdAt) }}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
</template>

<script>
    import MainHeader from "@/components/MainHeader/MainHeader"
    import axios from "axios";
    import moment from 'moment';
    export default {
      name: 'LoansPage',
      components: {
        MainHeader,
      },
      data() {
          return {
            startDate: '',
            endDate: '',
            transactions: [],
            token:''

          }
      },
      methods: {
        formatDate(value) {
              return moment(String(value)).format('YYYY-MM-DD')
        },
        async filterByDate() {
          let filteredTransactions = await axios.get("http://localhost:8080/api/v1/loans?startDate="+this.startDate+"&endDate="+this.endDate, {
            headers: {
              'Authorization': `Bearer ${this.token}`
            }
          });

          if (filteredTransactions.data.statusCode === 200) {
            this.transactions = filteredTransactions.data.data
          }

        }
      },
      async mounted() {
        let userDetails = localStorage.getItem("lendTechUserDetails");
        if (!userDetails) {
          this.$router.push({name: 'LoginPage'})
        }

        this.token = JSON.parse(userDetails).token;

        // get transactions
        let latestTransactions = await axios.get("http://localhost:8080/api/v1/loans", {
          headers: {
            'Authorization': `Bearer ${this.token}`
          }
        });

        if (latestTransactions.data.statusCode === 200){
          this.transactions = latestTransactions.data.data
        }

      }
    };
</script>
